<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <title>World Cup 2018</title>
    <style>

    body{
        background-image: url("static/football.png"), url("static/background.jpg");
        background-repeat: no-repeat, no-repeat;
        background-attachment:inherit, inherit;
        background-position:right bottom, center;
        background-size: 30%, auto; 
    }
    h1 { 
        color: white;
        text-shadow:3px 2px black;
        font-style:normal;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        position: relative;
        bottom: -30px;
    }
    p{
        color: white;
        position: relative;
        left: 30px;
        
    } 
  input {
      border-radius: 10%;
      position: relative;
      left: 30px;
      bottom: 5px;
  }
  div{
      position: relative;
      left: 30px;
     
    
  }
    </style>

</head>
<body>
<h1><center>Fifa World Cup 2018 <br>Prediction Model</center></b></h1>
<br></br>
<p>Team 1</p>
<form action="#">
<div class="ui selection dropdown">
        <input type="hidden" name="country">
        <i class="dropdown icon"></i>
        <div class="default text">Select Country</div>
        <div class="menu">
                <div class="item" data-value="Argentina"><i class="ar flag"></i>Argentina</div>
                <div class="item" data-value="Australia"><i class="au flag"></i>Australia</div>
                <div class="item" data-value="be"><i class="be flag"></i>Belgium</div>
                <div class="item" data-value="br"><i class="br flag"></i>Brazil</div>
                <div class="item" data-value="co"><i class="co flag"></i>Colombia</div>
                <div class="item" data-value="cr"><i class="cr flag"></i>Costa Rica</div>
                <div class="item" data-value="hr"><i class="hr flag"></i>Croatia</div>
                <div class="item" data-value="dk"><i class="dk flag"></i>Denmark</div>
                <div class="item" data-value="eg"><i class="eg flag"></i>Egypt</div>
                <div class="item" data-value="gb"><i class="gb flag"></i>England</div>
                <div class="item" data-value="fr"><i class="fr flag"></i>France</div>
                <div class="item" data-value="de"><i class="de flag"></i>Germany</div>
                <div class="item" data-value="is"><i class="is flag"></i>Iceland</div>
                <div class="item" data-value="ir"><i class="ir flag"></i>Iran</div>
                <div class="item" data-value="jp"><i class="jp flag"></i>Japan</div>
                <div class="item" data-value="kr"><i class="kr flag"></i>Korea</div>
                <div class="item" data-value="mx"><i class="mx flag"></i>Mexico</div>
                <div class="item" data-value="ma"><i class="ma flag"></i>Morocco</div>
                <div class="item" data-value="ng"><i class="ng flag"></i>Nigeria</div>
                <div class="item" data-value="pa"><i class="pa flag"></i>Panama</div>
                <div class="item" data-value="py"><i class="py flag"></i>Paraguay</div>
                <div class="item" data-value="pe"><i class="pe flag"></i>Peru</div>
                <div class="item" data-value="pl"><i class="pl flag"></i>Poland</div> 
                <div class="item" data-value="ru"><i class="ru flag"></i>Russia</div>
                <div class="item" data-value="sa"><i class="sa flag"></i>Saudi Arabia</div>
                <div class="item" data-value="sn"><i class="sn flag"></i>Senegal</div>
                <div class="item" data-value="rs"><i class="rs flag"></i>Serbia</div>
                <div class="item" data-value="es"><i class="es flag"></i>Spain</div>
                <div class="item" data-value="se"><i class="se flag"></i>Sweden</div>
                <div class="item" data-value="ch"><i class="ch flag"></i>Switzerland</div>
                <div class="item" data-value="tn"><i class="tn flag"></i>Tunisia</div>
                <div class="item" data-value="uy"><i class="uy flag"></i>Uruguay</div>
        </div>
    </div><br>
    <br></br>
<p>Team 2</p>
    <div class="ui selection dropdown">
            <input type="hidden" name="country2">
            <i class="dropdown icon"></i>
            <div class="default text">Select Country</div>
            <div class="menu">
                    <div class="item" data-value="Argentina"><i class="ar flag"></i>Argentina</div>
                    <div class="item" data-value="Australia"><i class="au flag"></i>Australia</div>
                    <div class="item" data-value="be"><i class="be flag"></i>Belgium</div>
                    <div class="item" data-value="br"><i class="br flag"></i>Brazil</div>
                    <div class="item" data-value="co"><i class="co flag"></i>Colombia</div>
                    <div class="item" data-value="cr"><i class="cr flag"></i>Costa Rica</div>
                    <div class="item" data-value="hr"><i class="hr flag"></i>Croatia</div>
                    <div class="item" data-value="dk"><i class="dk flag"></i>Denmark</div>
                    <div class="item" data-value="eg"><i class="eg flag"></i>Egypt</div>
                    <div class="item" data-value="gb"><i class="gb flag"></i>England</div>
                    <div class="item" data-value="fr"><i class="fr flag"></i>France</div>
                    <div class="item" data-value="de"><i class="de flag"></i>Germany</div>
                    <div class="item" data-value="is"><i class="is flag"></i>Iceland</div>
                    <div class="item" data-value="ir"><i class="ir flag"></i>Iran</div>
                    <div class="item" data-value="jp"><i class="jp flag"></i>Japan</div>
                    <div class="item" data-value="kr"><i class="kr flag"></i>Korea</div>
                    <div class="item" data-value="mx"><i class="mx flag"></i>Mexico</div>
                    <div class="item" data-value="ma"><i class="ma flag"></i>Morocco</div>
                    <div class="item" data-value="ng"><i class="ng flag"></i>Nigeria</div>
                    <div class="item" data-value="kp"><i class="kp flag"></i>North Korea</div>
                    <div class="item" data-value="pa"><i class="pa flag"></i>Panama</div>
                    <div class="item" data-value="py"><i class="py flag"></i>Paraguay</div>
                    <div class="item" data-value="pe"><i class="pe flag"></i>Peru</div>
                    <div class="item" data-value="pl"><i class="pl flag"></i>Poland</div> 
                    <div class="item" data-value="ru"><i class="ru flag"></i>Russia</div>
                    <div class="item" data-value="sa"><i class="sa flag"></i>Saudi Arabia</div>
                    <div class="item" data-value="sn"><i class="sn flag"></i>Senegal</div>
                    <div class="item" data-value="rs"><i class="rs flag"></i>Serbia</div>
                    <div class="item" data-value="es"><i class="es flag"></i>Spain</div>
                    <div class="item" data-value="se"><i class="se flag"></i>Sweden</div>
                    <div class="item" data-value="ch"><i class="ch flag"></i>Switzerland</div>
                    <div class="item" data-value="tn"><i class="tn flag"></i>Tunisia</div>
                    <div class="item" data-value="uy"><i class="uy flag"></i>Uruguay</div>
            </div>
        </div></br>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
    <script>
            $('.ui.dropdown').dropdown();


    </script>
    <br></br>
    <input type="submit">
</form>
<h1>{% if result %}And the winner will be: {{result}}{% else %}Choose two countries{% endif %}
   
</h1>
</body>
      
</html>